div {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    background-color: #D4D4D4;
    padding: 20px 0;
    width: 350px;
}

div::first-letter {
    background-color: red;
    color: white;
    padding: 15px 10px;
    font-weight: bold;
    height: 100px;
    margin-left: -60px;
    margin-right: 10px;
}