div {
    width: 300px;
    height: 200px;
    background-color: #EEE;
    color: #03A9F4;
    font-size: 50px;
    font-weight: bold;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

div::before {
    z-index: -1;
    content: "";
    width: 305px;
    height: 205px;
    background-color: #03A9F4;
    position: absolute;
    transform: rotate(-5deg);
}

div::after {
    z-index: -2;
    content: "";
    width: 305px;
    height: 205px;
    background-color: #E91E63;
    position: absolute;
    transform: rotate(5deg);
}