body {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    width: 400px;
    padding: 20px;
    margin: auto;
    background-color: #EEEEEE;
    border: 3px solid;
    border-color: #F34437 #2196F3;
    position: relative;
    top: 20px;
    line-height: 25px;
    text-align: center;
}

span {
    background-color: #2196F3;
    color: white;
    padding: 1px;
    position: absolute;
    width: 30px;
}

.top-left {
    left: -15px;
    top: -14px;
    border-right: 3px solid #F34437;
}

.bottom-left {
    left: -15px;
    bottom: -14px;
    border-right: 3px solid #F34437;
}

.top-right {
    right: -15px;
    top: -14px;
    border-left: 3px solid #F34437;
}

.bottom-right {
    right: -15px;
    bottom: -14px;
    border-left: 3px solid #F34437;
}