div {
    position: absolute;
    width: 100px;
    height: 100px;
}

.black {
    background-color: #333333;
    z-index: 1;
    left: 20px;
    top: 30px;
}

.blue {
    background-color: #03A9F4;
    z-index: 2;
    left: 20px;
    top: 20px;
}

.green {
    background-color: #009688;
    z-index: 3;
    left: 30px;
    top: 30px;
}

.red {
    background-color: #F44336;
    z-index: 4;
    left: 40px;
    top: 40px;
}